* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul {
    list-style: none;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #d9e7ee;
}

.container {
  max-width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 10px #0b0b0c12;
  margin-top: 30px;
}

.rating-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating-list {
  margin: 0;
  padding: 0;
  counter-reset: myCounter;
}

h3 {
  padding: 20px 0 20px 30px;
}

.help-btn {
  display: flex;
  margin-right: 30px;
  padding: 4px;
  border: none;
  cursor: pointer;
  background: none;
  border-radius: 3px;
}

.help-btn:hover {
  background-color: #d9e7ee;
}

.help-btn svg {
  font-size: 25px;
  color: black;
}